[user]
	name = Oleg Rusak
	email = hare.brown@gmail.com
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[core]
  excludesfile = ~/.gitignore
[init]
  templatedir = ~/.git_template
